
$weak: lighten($textColor, 35%);

h1, h2, h3, h4 {
  &, a {
    color: $headingsColor;
    text-decoration: none;
  }
  a:hover {
    color: $linkColor;
  }
}

h1, h2, h3, h4 {
  &[id^=toc] {
    position: relative;
    
    &::before {
      display: block;
      content: '¶';
      position: absolute;
      left: -22px;
      top: -1px;
      opacity: 0;
    }
    
    &:hover {
      &::before {
        opacity: .5;
      }
    }
  }
}

h1 { font-size: 2em; font-weight: normal; }
h2 { font-size: 2em; font-weight: normal; }

article {
  h2 {
    margin: 1.0em 0 .2em;
  }
  
  h3, h4 {
    margin: 1.0em 0 0;
  }
}

$horizontalComponentOffset: 100px;
dl.dl-horizontal {
  dt {
    width: $horizontalComponentOffset - 20 !important;
  }
  dd {
    margin-left: $horizontalComponentOffset !important;
  }
}

pre {
  margin-bottom: 1.5em;
}

.back, .weak, #top {
  font-style: italic;
  color: $weak;
  
  a {
    color: darken($weak, 20%);
    text-decoration: none;
    
    &:hover {
      color: $linkColor;
    }
  }
}
p.back {
  margin: 1em 0;
}

label {
  font-size: 1.3em;
  font-family: $serifFontFamily;
  font-style: italic;
  margin-top: .5em;
}

a {
  text-decoration: underline;
  
  &:hover {
    //color: $linkColor;
    //text-decoration: none;
  }
}

nav { //h1, h2, h3, 
  a {
    text-decoration: none;
    color: $textColor;
    
    &:hover, &.active {
      color: $linkColor;
    }
  }
}

.post-header, .post-footer {
  font-family: $serifFontFamily;
  
  .subheader {
    text-transform: uppercase;
    //font-size: 1.1em;
    font-family: "trebutchet ms", "lucida grande", verdana, sans-serif;
  }
  
  time {
    b {
      font-weight: normal;
      color: lighten($textColor, 35%);
    }
  }
  
  .subheader a {
    color: $textColor;
    text-decoration: none;
    opacity: .7;
  
    i {
      opacity: .5;
    }
  
    &:hover {
      opacity: 1;
    }
  }
}

.alert a.close {
  text-decoration: none;
}
